.sprite{
    background-image:  url('mario.jpg');
    background-repeat: no-repeat;
    display: inline-block;
}

.icono1{
    width:80px; /* Ancho del icono */
    height: 200px;   /* Alto del icono */
    background-position: -55px -20px;    /*Posicion en el sprite*/

}

.icono2{
    width:80px; /* Ancho del icono */
    height: 200px;   /* Alto del icono */
    background-position: -130px -40px;    /*Posicion en el sprite*/
}

.icono3{
    width:80px; /* Ancho del icono */
    height: 200px;   /* Alto del icono */
    background-position: -205px -60px;    /*Posicion en el sprite*/
}